@model Hootel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastro de Hotéis</h1>

<mensagem texto="@TempData["msg"]" class="alert alert-success"></mensagem>

<form asp-action="cadastrar">
    <partial name="_Form" /> 

    <botao texto="Salvar" class="btn btn-warning"></botao>
    <a asp-action="index" class="btn btn-dark">Hotéis</a>

</form>