@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-danger" asp-action="index" asp-controller="home">Home</a>
<a class="btn btn-dark" asp-action="cadastrar" asp-controller="hotel">Cadastro de hotéis</a>
